$mainBG: rgb(124, 146, 124);
$subBG: adjust-hue($mainBG,200deg);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.box{
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    background-image: url('/img/170491-snezhnaya_scena-sneg-zima-priroda-oblako-1920x1080.jpg');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content{
    font-family: 'Rubik Glitch', cursive;
    font-size: 30px;
    
    text-align: center;
}
.container--header{
    max-width: 1200px;
    margin: 0 auto;
}
.container .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header{
    height: 40px;
    background-color: lightgoldenrodyellow;
    -webkit-box-shadow: 0px 20px 8px -4px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 20px 8px -4px rgba(34, 60, 80, 0.2);
box-shadow: 0px 20px 8px -4px rgba(34, 60, 80, 0.2);
}
body{
    background: -webkit-linear-gradient(45deg, rgb(207, 154, 205), rgb(86, 181, 184));
background: -moz-linear-gradient(45deg, rgb(207, 154, 205), rgb(86, 181, 184));
background: linear-gradient(45deg, rgb(207, 154, 205), rgb(86, 181, 184));

}
.container{
    background-color: rgba(0, 0, 0, 0.329);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    -webkit-box-shadow: 0px 25px 21px 11px rgba(177, 0, 246, 0.2);
-moz-box-shadow: 0px 25px 21px 11px rgba(177, 0, 246, 0.2);
box-shadow: 0px 25px 21px 11px rgba(177, 0, 246, 0.2);
}
section:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.884);
    
}
section:nth-child(even){
    background-color: rgb(255, 255, 255);
    
}
section{
    padding: 50px;
}
.header--fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: header 0.35s ease forwards ;
}
@keyframes header {
    0%{
        transform: scaleY(100%);
    }
    25%{
        transform: scaleY(125%);
    }
    50%{
        transform: scaleY(100%);
    }
    75%{
        transform: scaleY(115%);
    }
    100%{
        transform: scaleY(100%);
    }
}
.header--deactive{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    
    animation: headerDeactive 0.35s ease forwards;
}
@keyframes headerDeactive{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(20px);
        transform: scaleY(120%);
    }
    100%{
        transform: translateY(0px);
        transform: scaleY(100%);
        position: absolute;
    }
    
}
.btn{
    position: absolute;
    margin:auto 1700px;
    top: 80vh;
    // transform: translateY(800px);
    width: max-content;
    display: none;
    
}
.btn button{
    padding: 30px;
    border: none;
    border-radius: 50px;
    background-color: rgba(17, 17, 17, 0.336);
    animation: button 0.35s ease forwards ;
    
}
@keyframes button{
    0%{
        transform: scale(0%);
    }
    25%{
        transform: scale(115%);
    }
    50%{
        transform: scale(85%);
    }
    100%{
        transform: scale(100%);
    }
}
.btn button:hover{
    background-color: rgba(17, 17, 17, 0.507);
}
.btn--fixed{
    position: fixed;
    display: block;
}
.progressbar{
    position: fixed;
    top: 99.5vh;
    left: 0;

    height: 5px;
    width: 50%;
    background-color: rgb(255, 238, 0);
    transform-origin: left center;
}
.list--active{
    animation: lists 0.5s ease-in-out forwards;
    
}
@keyframes lists{
    0%{
        transform: scale(100%);
        filter: blur(0px);
    }
    
    100%{
        transform: scale(80%);
        filter: blur(5px);
    }
}
.list--deactive{
    animation: lists2 0.5s ease-in-out forwards;
    
}
@keyframes lists2{
    0%{
        transform: scale(80%);
        filter: blur(5px);
    }
    
    100%{
        transform: scale(100%);
        filter: blur(0px);
    }
}

@media(max-width: 668px){
    
    section{
        padding: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .container{
        gap: 20px;
    }
}
@media(max-width:1500px){
    .btn{
        margin:auto 94%;
    }
}
